//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
@import "fonts.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Open Sans";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.container {
	@media (max-width: $md3+px) {
		max-width: 95% !important;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.button-circle {
	background: #00dbff;
	box-shadow: 0px 0px 10px #1c1644;
	border-radius: 27px;
	padding: 20px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;

	color: #1c1644;

	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

	@media (max-width: 1200px) {
		font-size: 22px;
		height: 45px;
		line-height: 8px;
		margin-top: -5px;
	}
	@media (max-width: 1000px) {
		font-size: 18px;
		margin-left: 0;
	}
}
.card {
	border: none !important;
	box-shadow: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.search {
	background: linear-gradient(135.97deg, #1c1644 4.09%, #7bc9d7 96.01%);
	height: 700px;
	opacity: 0.9;

	&__bg {
		left: 400px;
		top: 60px;
		position: absolute;
		left: 0;
		top: 60px;
		z-index: 0;
		@media (max-width: $md3+px) {
			height: 448px !important;
		}
		@media (max-width: 1000px) {
			height: 448px !important;
		}
		@media (max-width: 670px) {
			display: none;
		}
	}

	&__bg-sm {
		display: none;
		@media (max-width: 670px) {
			display: block;
			top: 60px;
			position: absolute;
			left: 50%;
			margin-left: -150px;
			top: 60px;
			z-index: 0;
		}
	}

	&__inner {
		position: relative;
		z-index: 1;
		height: 600px;
		padding-top: 60px;
		@media (max-width: 670px) {
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		margin-left: 35px;
	}

	&__logo {
		margin-left: 35px;
		margin-top: 10px;
		img {
			position: relative;
			z-index: 1;
		}
		@media (max-width: $md3+px) {
			margin-top: -50px;
			margin-left: -20px;
		}
	}

	&__title {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: bold;
		font-size: 65px;
		line-height: 79px;
		text-align: left;
		color: #1c1644;
		text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		margin-bottom: 0;
		margin-top: -10px;

		@media (max-width: 1000px) {
			font-size: 45px;
			line-height: 50px;
		}

		@media (max-width: $md3+px) {
			font-size: 50px;
			line-height: 68px;
			margin-top: 20px;
		}
		@media (max-width: 670px) {
			width: 283px;
			height: 186px;
			left: 32px;
			top: 46px;

			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 41px;

			position: relative;
			left: 50%;
			margin-left: -140px;
			top: 5px;
		}
	}

	&__subtitle {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 55px;
		color: #1c1644;
		width: 668px;
		text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		margin-top: 0;
		z-index: 2;
		position: relative;
		@media (max-width: 1000px) {
			line-height: 36px;
			font-size: 36px;
		}

		@media (max-width: $md3+px) {
			font-size: 30px;
			line-height: 41px;
			width: 550px;
		}
		@media (max-width: 670px) {
			width: 273px;
			height: 186px;
			left: 32px;
			top: 131px;

			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 27px;
			position: relative;
			left: 50%;
			margin-left: -140px;
			top: -100px;
		}
	}

	&__bottom {
	}

	&__bottom-wrapper {
		margin-top: 20px;
		position: relative;
		img {
			position: absolute;
			left: 0;
			top: 0;
			@media (max-width: 1200px) {
				height: 260px;
			}

			@media (max-width: 670px) {
				overflow: hidden;
				opacity: 0.9;
			}
		}
		@media (max-width: 1200px) {
			margin-top: 5px;
		}
		@media (max-width: 1000px) {
			img {
				height: 210px;
			}
			margin-top: 10px;
		}
		@media (max-width: $md3+px) {
			img {
				height: 205px;
			}
			margin-top: 10px;
		}
		@media (max-width: 670px) {
			position: relative;
			top: -170px;
			left: 50%;
			margin-left: -130px;
			z-index: 2;
		}
	}

	&__bottom-inner {
		margin-top: 24px;
		margin-left: 10px;
		position: relative;
		img {
			position: absolute;
			left: 0;
			top: 0;
			@media (max-width: 1200px) {
				height: 210px;
			}
			opacity: 1 !important;
		}
		@media (max-width: 1000px) {
			margin-top: 18px;
			margin-left: 6px;
			img {
				height: 170px;
			}
		}
		@media (max-width: $md3+px) {
			margin-top: 14px;
			margin-left: 2px;
			img {
				height: 172px;
			}
		}
	}

	&__bottom-text {
		font-family: "Roboto";
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: #1c1644;
		width: 285px;
		position: relative;
		z-index: 2;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

		@media (max-width: 1200px) {
			width: 260px;
			margin-top: -5px;
		}

		@media (max-width: 1000px) {
			width: 220px;
			font-size: 15px;
			line-height: 20px;
			margin-left: -12px;
			margin-top: -10px;
		}
	}

	&__button {
		margin-left: 20px;
		position: relative;
		z-index: 2;
	}

	&__phone {
		@media (max-width: 670px) {
			width: 400px !important;
			display: block;
		}
		@media (max-width: 670px) {
			display: flex;
			justify-content: center;
		}
		img {
			margin-top: -25px;
			@media (max-width: 1200px) {
				width: 380px;
				margin-top: -10px;
			}
			@media (max-width: 1000px) {
				width: 380px;
				margin-right: -10px;
				margin-top: 0px;
			}
			@media (max-width: $md3+px) {
				width: 372.2px;
				height: 221.36px;
				margin-top: -35px;
			}
			@media (max-width: 720px) {
				width: 280px;
				margin-left: 40px;
				height: 155.17px;
			}
			@media (max-width: 670px) {
				margin-left: 0;
			}
		}
		div {
			background-color: #1c1644;
			border-radius: 11px;
			width: 385px;
			height: 46px;
			margin-top: 10px;
			margin-right: 50px;
			p {
				padding: 10px;

				font-family: "Montserrat";
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;

				color: #ffffff;

				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

				@media (max-width: 1000px) {
					padding: 7px 0px 7px 5px;
					font-size: 18px !important;
				}
			}
			@media (max-width: 1000px) {
				height: 40px;
				margin-right: 0px;
				width: 350px;
			}
			@media (max-width: $md3+px) {
				margin-top: 15px;
				height: 46px;
				p {
					padding-top: 10px;
				}
			}
			@media (max-width: 670px) {
				p {
					font-family: Montserrat;
					font-style: normal;
					font-weight: 600;
					font-size: 10px !important;
					line-height: 12px;
				}
				width: 198px !important;
				display: inline-block;
			}
		}
	}

	&__line {
	}
}

//====================================================================================================
.work {
	background: url("../img/work-bg.png");
	height: 1553px;
	object-fit: cover;
	&__inner {
	}

	&__header {
		margin-top: 130px;
		text-align: center;
		width: 100%;
		display: flex;
		justify-content: center;
		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;

			color: #1c1644;
			border-bottom: 3px solid #06f697;
			width: 447px;
			text-align: center;
		}
	}

	&__body {
		margin-top: 56px;
		h3 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;

			color: #ffffff;

			width: 485px;
			height: 72px;

			background: #243964;
			border-radius: 11px;
			padding-left: 15px;
			padding-top: 15px;
		}
	}

	&__wrapper {
		&::before {
			background: linear-gradient(129.57deg, #06f697 3.05%, #00bcdc 59.86%);
			opacity: 0.7;
			box-sizing: border-box;
			border-radius: 11px;
		}
		&::after {
		}
	}

	&__item {
		background: #1c1644;
		opacity: 0.8;
		border-radius: 11px;
		margin-top: 13px;
		width: 693px;
		padding-bottom: 40px;
		img {
			margin-top: 20px;
			margin-left: 10px;
		}
		p {
			width: 610px;
			margin-left: 10px;
			span {
				font-family: "Montserrat";
				font-style: normal;
				font-weight: bold;
				font-size: 25px;
				line-height: 30px;

				color: #06f697;
			}
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;

			color: #ffffff;
		}
	}

	&__item-title {
	}
}
//====================================================================================================

.why {
	background: linear-gradient(130.91deg, #29263f 3.61%, rgba(0, 188, 220, 0.4) 81.82%);
	z-index: 10;
	position: relative;
	&__title {
		padding-top: 83px;
		display: flex;
		justify-content: center;
		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 37px;

			color: #ffffff;
			border-bottom: 3px solid #23dec7;

			margin-bottom: 51px;
		}
	}

	&__first {
	}

	&__second {
	}

	&__item {
		background: linear-gradient(160.63deg, #40e29c 0.97%, #00daff 96.64%);
		border: 3px solid #02bbd8;
		box-sizing: border-box;
		border-radius: 11px;
		position: relative;
		height: 306px;
		width: 313.82px;
		text-align: center;
		display: flex;
		justify-content: center;
		padding-top: 10px;
		p {
			font-family: "Montserrat";
			width: 288.58px;
			height: 122.47px;
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;
			text-align: center;

			color: #ffffff;

			text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
			background-color: rgba(28, 22, 68, 0.8);
			border-radius: 12px;

			padding: 10px 30px;
		}
		img {
			position: absolute;
			left: 50%;
			margin-left: -40px;
			bottom: 10px;

			width: 134.55px;
			height: 132.81px;
		}
	}

	&__item-1 {
	}

	&__item-2 {
	}
}

//====================================================================================================

.cases {
	background-image: url("../img/cases/background.png");
	height: 1578px;
	margin-top: -80px;
	z-index: 0;
	&__title {
		display: flex;
		justify-content: center;
		padding-top: 140px;
		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;
			width: 177px;
			color: #1c1644;

			border-bottom: 3px solid #06f697;
		}
	}

	&__first {
	}

	&__item {
		height: 506.07px;
		width: 120px !important;
		overflow: hidden;
		background: rgba(22, 29, 68, 0.5);
		border-radius: 11px;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
	}

	&__title-item {
	}

	&__text {
	}

	&__item-last {
	}

	&__second {
	}
}

//====================================================================================================

.review {
	background: linear-gradient(117.05deg, #1c1644 3.67%, rgba(0, 188, 220, 0.44) 95.47%);
	height: 988px;
	&__title {
		display: flex;
		justify-content: center;
		h2 {
			padding-top: 160px;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;

			color: #ffffff;
			width: 536px;
			border-bottom: 3px solid #06f697;

			margin-bottom: 120px;
		}
	}

	&__inner {
	}

	&__item {
		position: relative;
		img {
			position: relative;
			z-index: 2;
		}
	}

	&__decor {
		position: absolute;
		width: 246px;
		height: 497px;
		left: -25px;
		top: -24px;

		border: 3px solid #06f697;
		box-sizing: border-box;
		border-radius: 11px;
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
