//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
@import "fonts.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Open Sans";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.container {
	@media (max-width: 760px) {
		max-width: 95% !important;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.button {
	background: #00dbff;
	box-shadow: 0px 0px 10px #1c1644;
	border-radius: 27px;
	padding: 20px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;

	color: #1c1644;

	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

	&_square {
		border-radius: 11px;
	}

	@media (max-width: 1200px) {
		font-size: 22px;
		height: 45px;
		line-height: 8px;
		margin-top: -5px;
	}
	@media (max-width: 1000px) {
		font-size: 18px;
		margin-left: 0;
	}
}
.card {
	border: none !important;
	box-shadow: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.search {
	background: linear-gradient(135.97deg, #1c1644 4.09%, #7bc9d7 96.01%);
	height: 700px;
	opacity: 0.9;

	&__bg {
		left: 400px;
		top: 60px;
		position: absolute;
		left: 0;
		top: 60px;
		z-index: 0;
		@media (max-width: 760px) {
			height: 448px !important;
		}
		@media (max-width: 1000px) {
			height: 448px !important;
		}
		@media (max-width: 760px) {
			display: none;
		}
	}

	&__bg-sm {
		display: none;
		@media (max-width: 760px) {
			display: block;
			top: 60px;
			position: absolute;
			left: 50%;
			margin-left: -150px;
			top: 60px;
			z-index: 0;
		}
	}

	&__inner {
		position: relative;
		z-index: 1;
		height: 600px;
		padding-top: 60px;
		@media (max-width: 760px) {
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		margin-left: 35px;
	}

	&__logo {
		margin-left: 35px;
		margin-top: 10px;
		img {
			position: relative;
			z-index: 1;
		}
		@media (max-width: 760px) {
			margin-top: -50px;
			margin-left: -20px;
		}
	}

	&__title {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: bold;
		font-size: 65px;
		line-height: 79px;
		text-align: left;
		color: #1c1644;
		text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		margin-bottom: 0;
		margin-top: -10px;

		@media (max-width: 1000px) {
			font-size: 45px;
			line-height: 50px;
		}

		@media (max-width: 760px) {
			font-size: 50px;
			line-height: 68px;
			margin-top: 20px;
		}
		@media (max-width: 760px) {
			width: 283px;
			height: 186px;
			left: 32px;
			top: 46px;

			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 41px;

			position: relative;
			left: 50%;
			margin-left: -140px;
			top: 5px;
		}
	}

	&__subtitle {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 55px;
		color: #1c1644;
		width: 668px;
		text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		margin-top: 0;
		z-index: 2;
		position: relative;
		@media (max-width: 1000px) {
			line-height: 36px;
			font-size: 36px;
		}

		@media (max-width: 760px) {
			font-size: 30px;
			line-height: 41px;
			width: 550px;
		}
		@media (max-width: 760px) {
			width: 273px;
			height: 186px;
			left: 32px;
			top: 131px;

			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 27px;
			position: relative;
			left: 50%;
			margin-left: -140px;
			top: -100px;
		}
	}

	&__bottom {
		@media (max-width: 760px) {
			display: none;
			opacity: 0;
		}
	}

	&__bottom-wrapper {
		margin-top: 20px;
		position: relative;
		img {
			position: absolute;
			left: 0;
			top: 0;
			@media (max-width: 1200px) {
				height: 260px;
			}

			@media (max-width: 760px) {
				overflow: hidden;
				opacity: 0.9;
			}
		}
		@media (max-width: 1200px) {
			margin-top: 5px;
		}
		@media (max-width: 1000px) {
			img {
				height: 210px;
			}
			margin-top: 10px;
		}
		@media (max-width: 760px) {
			img {
				height: 205px;
			}
			margin-top: 10px;
		}
		@media (max-width: 760px) {
			position: relative;
			top: -170px;
			left: 50%;
			margin-left: -130px;
			z-index: 2;
		}
	}

	&__bottom-inner {
		margin-top: 24px;
		margin-left: 10px;
		position: relative;
		img {
			position: absolute;
			left: 0;
			top: 0;
			@media (max-width: 1200px) {
				height: 210px;
			}
			opacity: 1 !important;
		}
		@media (max-width: 1000px) {
			margin-top: 18px;
			margin-left: 6px;
			img {
				height: 170px;
			}
		}
		@media (max-width: 760px) {
			margin-top: 14px;
			margin-left: 2px;
			img {
				height: 172px;
			}
		}
	}

	&__bottom-sm {
		display: none;
		opacity: 0;
		@media (max-width: 760px) {
			display: flex;
			opacity: 1;
			.card {
				margin-top: -170px;
				position: relative;
				left: calc(50% - 10px);
			}
			.search__phone {
				img {
					margin-top: -545px;
					position: relative;
					padding-right: 15px;
					width: 260.92px;
					height: 155.17px;
				}
				div {
					margin-top: -220px;
					position: relative;
					left: -10px;
					height: 32px;
					border-radius: 11px !important;
					p {
						font-family: "Montserrat";
						font-style: normal;
						font-weight: 600;
						font-size: 10px;

						padding-top: 15px;
						padding-left: 10px;
						padding-bottom: 0;
						line-height: 0;

						color: #ffffff;

						text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
	}

	&__bottom-text {
		font-family: "Roboto";
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: #1c1644;
		width: 285px;
		position: relative;
		z-index: 2;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

		@media (max-width: 1200px) {
			width: 260px;
			margin-top: -5px;
		}

		@media (max-width: 1000px) {
			width: 220px;
			font-size: 15px;
			line-height: 20px;
			margin-left: -12px;
			margin-top: -10px;
		}
	}

	&__button {
		margin-left: 20px;
		position: relative;
		z-index: 2;
	}

	&__lines {
		padding-top: 60px;
		hr {
			width: 373px;
			height: 0px;
			border: 1px solid #fff3f3;
			transform: rotate(0.03deg);
			@media (max-width: 760px) {
				opacity: 0;
			}
		}
	}

	&__phone {
		@media (max-width: 760px) {
			width: 400px !important;
			display: block;
		}
		@media (max-width: 760px) {
			display: flex;
			justify-content: center;
		}
		img {
			margin-top: -25px;
			@media (max-width: 1200px) {
				width: 380px;
				margin-top: -10px;
			}
			@media (max-width: 1000px) {
				width: 380px;
				margin-right: -10px;
				margin-top: 0px;
			}
			@media (max-width: 760px) {
				width: 372.2px;
				height: 221.36px;
				margin-top: -35px;
			}
			@media (max-width: 720px) {
				width: 280px;
				margin-left: 40px;
				height: 155.17px;
			}
			@media (max-width: 760px) {
				margin-left: 0;
			}
		}
		div {
			background-color: #1c1644;
			border-radius: 11px;
			width: 385px;
			height: 46px;
			margin-top: 10px;
			margin-right: 50px;
			p {
				padding: 10px;

				font-family: "Montserrat";
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;

				color: #ffffff;

				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

				@media (max-width: 1000px) {
					padding: 7px 0px 7px 5px;
					font-size: 18px !important;
				}
			}
			@media (max-width: 1000px) {
				height: 40px;
				margin-right: 0px;
				width: 350px;
			}
			@media (max-width: 760px) {
				margin-top: 15px;
				height: 46px;
				p {
					padding-top: 10px;
				}
			}
			@media (max-width: 760px) {
				p {
					font-family: Montserrat;
					font-style: normal;
					font-weight: 600;
					font-size: 10px !important;
					line-height: 12px;
				}
				width: 198px !important;
				display: inline-block;
			}
		}
	}

	&__line {
	}
}

//====================================================================================================
.work {
	background: url("../img/work-bg.png");
	height: 1553px;
	object-fit: cover;
	&__inner {
	}

	&__header {
		margin-top: 130px;
		text-align: center;
		width: 100%;
		display: flex;
		justify-content: center;
		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;

			color: #1c1644;
			border-bottom: 3px solid #06f697;
			width: 447px;
			text-align: center;
		}
	}

	&__body {
		margin-top: 56px;
		h3 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;

			color: #ffffff;

			width: 485px;
			height: 72px;

			background: #243964;
			border-radius: 11px;
			padding-left: 15px;
			padding-top: 15px;
		}
	}

	&__item {
		position: relative;
		border: 10px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(129.57deg, #06f697 3.05%, #00bcdc 59.86%);
		opacity: 0.7;

		background: #1c1644;
		opacity: 0.8;
		margin-top: 13px;
		width: 693px;
		padding-bottom: 40px;
		z-index: 20;

		img {
			margin-top: 20px;
			margin-left: 10px;
		}
		p {
			width: 610px;
			margin-left: 10px;
			span {
				font-family: "Montserrat";
				font-style: normal;
				font-weight: bold;
				font-size: 25px;
				line-height: 30px;

				color: #06f697;
			}
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;

			color: #ffffff;
		}
	}

	&__item-title {
	}
}
//====================================================================================================

.why {
	background: linear-gradient(130.91deg, #29263f 3.61%, rgba(0, 188, 220, 0.4) 81.82%);
	z-index: 10;
	position: relative;
	&__title {
		padding-top: 83px;
		display: flex;
		justify-content: center;
		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 37px;

			color: #ffffff;
			border-bottom: 3px solid #23dec7;

			margin-bottom: 51px;
		}
	}

	&__first {
	}

	&__second {
		padding-top: 50px;
		padding-bottom: 120px;
	}

	&__item {
		background: linear-gradient(160.63deg, #40e29c 0.97%, #00daff 96.64%);
		box-sizing: border-box;
		border-radius: 11px;
		position: relative;
		height: 306px;
		width: 313.82px;
		text-align: center;
		justify-content: center;
		padding-top: 10px;
		margin-right: 50px;
		position: relative;

		background: linear-gradient(160.63deg, #40e29c 0.97%, #00daff 96.64%);
		border: 3px solid #02bbd8;
		box-sizing: border-box;
		border-radius: 11px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: -50px;
			width: 407px;
			height: 326px;
			border: 10px solid rgba(28, 22, 68, 0.5);
			padding: 20px !important;
		}

		p {
			font-family: "Montserrat";
			width: 288.58px;
			height: 122.47px;
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 30px;
			text-align: center;

			color: #ffffff;

			text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
			background-color: rgba(28, 22, 68, 0.8);
			border-radius: 12px;

			padding: 10px 30px;
		}
		img {
			position: absolute;
			left: 50%;
			margin-left: -40px;
			bottom: 10px;

			width: 134.55px;
			height: 132.81px;
		}
		span {
			// background: url("../img/why/wrapper.png");
			// width: 346px;
			// height: 326px;
			// border-radius: 11px;
			// position: absolute;
			// left: -200px;
			// top: -400px;
		}
	}

	&__item-1 {
	}

	&__item-2 {
	}
}

//====================================================================================================

.cases {
	background-image: url("../img/cases/background.png");
	height: 1578px;
	margin-top: -80px;
	z-index: 0;
	&__title {
		display: flex;
		justify-content: center;
		padding-top: 140px;
		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;
			width: 177px;
			color: #1c1644;

			border-bottom: 3px solid #06f697;
		}
	}

	&__first {
	}

	&__item {
		height: 506.07px;
		width: 120px !important;
		overflow: hidden;
		background: rgba(22, 29, 68, 0.5);
		border-radius: 11px;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
	}

	&__title-item {
	}

	&__text {
	}

	&__item-last {
	}

	&__second {
	}
}

//====================================================================================================

.review {
	background: linear-gradient(117.05deg, #1c1644 3.67%, rgba(0, 188, 220, 0.44) 95.47%);
	width: 100vw !important;
	object-fit: cover;
	height: 988px;
	&__title {
		display: flex;
		justify-content: center;
		h2 {
			padding-top: 160px;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;

			color: #ffffff;
			width: 536px;
			border-bottom: 3px solid #06f697;

			margin-bottom: 120px;
		}
	}

	&__inner {
	}

	&__item {
		position: relative;
		img {
			position: relative;
			z-index: 2;
			@media (max-width: 1200px) {
				width: 145px;
				height: 291px;
			}
		}
		@media (max-width: 1100px) {
			&:first-child {
				margin-left: 50px;
			}
		}
	}

	&__decor {
		position: absolute;
		width: 246px;
		height: 497px;
		left: -25px;
		top: -24px;

		border: 3px solid #06f697;
		box-sizing: border-box;
		border-radius: 11px;

		@media (max-width: 1200px) {
			width: 144px;
			height: 292px;
		}

		@media (max-width: 1000px) {
			left: -14px;
			top: -14px;
		}
	}
}
//====================================================================================================

.move {
	&__title {
	}

	&__inner {
	}
}

//====================================================================================================

.team {
	background: linear-gradient(114.25deg, #262b3f 3.42%, rgba(0, 188, 220, 0.4) 95.26%);
	height: 1344px;
	overflow: hidden;
	@media (max-width: $md4+px) {
		height: 854px;
	}
	&__title {
		display: flex;
		justify-content: center;
		padding-top: 120px;
		h2 {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;

			color: #ffffff;

			border-bottom: 3px solid #06f697;
		}
		@media (max-width: $md4+px) {
			padding-top: 40px;

			h2 {
			}
		}
	}

	&__first {
		margin-top: 30px;
		@media (max-width: 730px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			text-align: left;
			margin-right: auto;
		}
	}

	&__image {
		@media (max-width: 1200px) {
			img {
				height: 250px;
				width: 250px;
			}
		}
		@media (max-width: 1000px) {
			margin-left: -20px;
			img {
				margin-left: 0px;
			}
		}
		@media (max-width: 730px) {
			text-align: left;
			margin-right: auto;
			margin-left: 20px;
		}
		img {
			border-radius: 50%;
			@media (max-width: $md4+px) {
				height: 85px;
				width: 85px;
				margin-left: 30px;
			}
		}
		@media (max-width: $md4+px) {
			margin-top: 0;

			img {
				margin-left: 0px;
				margin-top: 0;
			}
		}
	}

	&__big {
		display: block;
		@media (max-width: 730px) {
			display: none;
		}
	}

	&__small {
		display: none;
		@media (max-width: 730px) {
			display: block;
		}
	}

	&__text {
		background: rgba(255, 255, 255, 0.51);
		border-radius: 11px;
		height: 200px;
		width: 735px;
		@media (max-width: 1200px) {
			width: 513px;
			p {
				font-size: 26px;
				line-height: 32px;
			}
		}
		@media (max-width: 1000px) {
			width: 413px;
			margin-right: -50px;
			display: block;
			width: 513px;
			height: 144px;
			margin-left: 40px;
			p {
				font-size: 20px;
				line-height: 24px;
			}
		}
		@media (max-width: 730px) {
			width: 300px;
			margin-top: 20px;
		}
		@media (max-width: 730px) {
			text-align: left;
			margin-right: auto;
			width: 90%;
			padding-right: 50px;
		}
		@media (max-width: $md4+px) {
			p {
				font-size: 13px;
				line-height: 16px;
				padding-top: 12px;
			}
			height: 75px;
			margin-left: 0px;
		}
		p {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 37px;

			padding-top: 30px;
			padding-left: 30px;

			/* Синий */

			color: #1c1644;
		}
	}

	&__second {
		margin-top: 120px;
		@media (max-width: 730px) {
			flex-direction: column;
		}
		@media (max-width: $md4+px) {
			img {
				margin-top: -100px;
			}
		}
	}

	&__phone {
		background: #00dbff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 11px;
		margin-top: 50px;

		@media (max-width: $md3+px) {
			width: 98%;
			height: 110px;
		}

		@media (max-width: 600px) {
			align-items: center;
			display: flex;
		}
		@media (max-width: $md4+px) {
			width: 100%;
			margin-left: -15px;
		}
	}

	&__icon {
		padding-left: 100px;
		@media (max-width: $md3+px) {
			margin-left: -60px;
		}
		@media (max-width: 600px) {
			img {
				height: 50px;
				width: 50px;
				margin-left: -30px;
			}
		}
	}

	&__bottom-text {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;

		padding-left: 35px;

		color: #1c1644;

		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

		@media (max-width: $md3+px) {
			font-size: 20px;
			line-height: 24px;
			width: 534px;
			height: 60px;
		}

		@media (max-width: 600px) {
			width: 238px;
			height: 49px;
			padding-top: 0;
			p {
				font-size: 13px;
				line-height: 16px;
				width: 238px;
				margin-left: -30px;
			}
		}
	}
}

//====================================================================================================

.sentence {
	background-image: url("../img/sentence-bg.png");
	height: 1101px;
	background-repeat: no-repeat;
	@media (max-width: $md3+px) {
		background-color: white;
		background-image: none;
	}
	@media (max-width: 660px) {
		height: 753px;
		background-color: white;
		background-image: none;
	}
	@media (max-width: $md4+px) {
		height: 587px;
	}

	&__title {
		padding-top: 190px;

		@media (max-width: 660px) {
			padding-top: 20px;
			h2 {
				font-size: 20px;
				line-height: 24px;
				width: 215px;
			}
		}

		h2 {
			width: 530px;
			border-bottom: 3px solid #06f697;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;

			color: #1c1644;
		}
	}

	&__inner {
		padding-top: 65px;
		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}

	&__item {
		background: linear-gradient(120.57deg, #1c1644 7.66%, #45e4ff 93.72%);
		border: 3px solid #1c1644;
		box-sizing: border-box;
		border-radius: 11px;
		width: 500.96px;
		height: 375.72px;

		@media (max-width: 1200px) {
			width: 364px;
		}

		@media (max-width: 1000px) {
			width: 344px;
			height: 188px;
		}

		@media (max-width: $md3+px) {
			width: 320px;
		}

		@media (max-width: 670px) {
			margin-top: -50px;

			&:last-child {
				margin-top: 20px;
			}
		}
		@media (max-width: $md4+px) {
			width: 217px;
			height: 108px;
			p {
				font-size: 10px;
				line-height: 12px;
				width: 191px;
			}
		}
	}

	p {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;

		color: #ffffff;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		padding-top: 52px;
		padding-left: 45px;

		@media (max-width: 1200+px) {
			padding-top: 15px;
			padding-left: 15px;
		}

		@media (max-width: 1000px) {
			font-size: 20px;
			line-height: 24px;
			padding: 15px 0px 0px 15px;
			padding-top: 5px;
			width: 315.12px;
		}
	}

	&__subtitle {
		padding-top: 30px;

		h3 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 37px;

			color: #1c1644;
		}

		@media (max-width: 660px) {
			h3 {
				font-size: 15px;
				line-height: 18px;
				text-align: left;
				margin-right: auto;
			}
		}
	}

	&__order {
		margin-top: 45px;
		background: #1c1644;
		border-radius: 11px;
		height: 83px;
		width: 1065px;
		@media (max-width: 1200px) {
			width: 100%;
		}
		@media (max-width: 1000px) {
			width: 716px;
			height: 128px;

			background: #1c1644;
			border-radius: 11px;
		}
		@media (max-width: $md3+px) {
			width: 100%;
			display: flex;
			display: flex;
			flex-direction: row;
		}
		@media (max-width: 660px) {
			height: 128px;
			flex-direction: column;
		}
		p {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 25px;
			line-height: 30px;
			width: 764.64px;
			text-align: center;
			padding-top: 8px;

			color: #ffffff;

			@media (max-width: 1000px) {
				font-size: 20px;
				line-height: 24px;
				width: 387px;
			}
			@media (max-width: $md3+px) {
				width: 387px;
				text-align: left;
			}
			@media (max-width: 660px) {
				text-align: center;
				font-size: 15px;
				line-height: 18px;
				width: 264px;
			}
		}
		@media (max-width: $md4+px) {
			width: 95%;
			height: 128px;
		}
	}

	&__button {
		height: 59.32px;
		width: 276.24px;
		padding-top: 13px;
		margin-left: 10px;
		@media (max-width: 1000px) {
			width: 276.24px;
			height: 59.32px;

			margin-left: 18px;

			background: #00dbff;
			box-shadow: 0px 0px 10px rgba(0, 188, 219, 0.6);
			border-radius: 11px;

			font-size: 25px;
			line-height: 29px;
		}
		@media (max-width: $md3+px) {
			text-align: right;
		}
		@media (max-width: 660px) {
			width: 167px;
			height: 37px;

			font-size: 15px;
			line-height: 18px;
			padding-top: 10px;
		}
	}
}

.form {
	height: 1076px;
	background: linear-gradient(154.44deg, #1c1544 3.71%, #45e4ff 96.72%);
	&__title {
		padding-top: 190px;
		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 61px;

			color: #ffffff;
		}
	}

	&__inner {
	}

	&__button {
		margin-top: 90px;
		button {
			background: #00dbff;
			box-shadow: 0px 0px 10px rgba(0, 188, 219, 0.6);
			border-radius: 11px;
			padding: 30px 30px;
		}
	}
}

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
